<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804577509109-3g51gibilj0vtfelfgrgeb3gncaragpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804577509109-3g51gibilj0vtfelfgrgeb3gncaragpq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804577509109-0hfiiltvfmsigk0oq9nn135n60132l1g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlAkU6-97JtquOyc6ubJGkb0h2yoCLkns</string>
	<key>GCM_SENDER_ID</key>
	<string>804577509109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lcl.lc1</string>
	<key>PROJECT_ID</key>
	<string>lclv1-68a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>lclv1-68a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804577509109:ios:2c00ba04c4652e9d088fbc</string>
	<key>DATABASE_URL</key>
	<string>https://lclv1-68a3b.firebaseio.com</string>
</dict>
</plist>